
.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 10000
}

.overlay {text-align: center;}
.login-body {
  position: absolute;
  top: 25%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 350px;
  background-color: white;
  padding-bottom: 40px
}
.errorMsg {
  color: red;
}
.signup-body {
  position: absolute;
  top: 25%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 350px;
  background-color: white;
  padding-bottom: 40px
}
table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}